<div class="comment-section">
  <h2>Comments</h2>
  <% @article.comments.each do |comment| %>
        <div class="commenter-list">
          <div>
            <%= comment.commenter %>
            says<br>
          </div>
          <div class="small">
            <%= comment.created_at.strftime("%b %-d, %Y at %l:%M %p") %>
          </div>

        </div>
        <div class="comment-list">
          <%= comment.body %>
        </div>
        <%= link_to 'Delete Comment', [comment.article, comment],
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: "small", id: "comment-delete" %>
    <% end %>
  </div>
