<div class="row">
      <section id="chandelier" data-speed="10" data-type="background">
          <div class="scroll-quote" id="chandelier-text0">
         <blockquote class="blockquote-reverse">
                  “<em>Glenn Langdon had the Opera House orchestra playing with fine ardor and precision</em>.”
                  <footer><cite title="Source Title">The Washington Post</cite></footer>
              </blockquote>
      </div>
      <div class="scroll-quote" id="chandelier-text1">
         <blockquote>
                  “<em>Daphnis and Chloe captures beautifully the sprawling but sensuously sexy nature of Ravel’s 55-minute
                  score, handsomely performed by
                  Glenn Langdon the Houston Ballet Orchestra and the 60 voices of the University of Houston-University Park
                  Concert Chorale and University
                  Chorus</em>.”
                  <footer><cite title="Source Title">The Houston Post</cite></footer>
              </blockquote>
      </div>
      </section>
  </div>
