<div class="row">
      <section id="recital" data-speed="10" data-type="background">
          <div class="scroll-quote" id="recital-text0">
             <blockquote>
                      “<em>The LPO, under the direction of Glenn Langdon, provided a confident interpretation of the score
                      throughout the performance.
                      The orchestra seemed to delight in playing this music and made the familiar tunes come alive</em>.”
                      <footer><cite title="Source Title">The New Orleans Times-Picayune</cite></footer>
              </blockquote>

                 </div>
          <div class="scroll-quote" id="recital-text1">
             <blockquote class="blockquote-reverse">
                      “<em>And conductor Glenn Langdon elicited a notably polished, expressive performance of Bartok’s
                      dissonant, sensuous musical score to the ballet</em>.”
                      <footer><cite title="Source Title">The Houston Post</cite></footer>
              </blockquote>
          </div>
      </section>
  </div>
