// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// universal
body {
  background-color: #d8bdaa;
  font-family: Vollkorn;
	font-size: 1.75rem;
}
#navbar-header {
  margin-bottom: 125px;
}
#header-logo {
  color: white;
  font-size: 4rem;
  border-bottom: 2px solid gray;
}
#article-listing {
  background-color: white;
  margin-left: 20px;
}
.article-title {
	text-align: center;
  background-color: white;
  opacity: 0.9;
  padding-top: 20px;
  padding-bottom: 10px;
}
.article-body {
  background-color: white;
  opacity: 0.9;
  font-size: 2rem;
  padding: 0px 25px 25px 25px;
}

// #disqus_thread {
//   background-color: white;
//   opacity: 0.9;
//   margin-top: 20px;
//   padding: 15px 15px 0px 15px;
// }
