// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* universal */

// html {
//   background-color: gray;
//   height: 100%;
//   width: 100%;
// }
// body {
//   padding-top: 60px;
// }
// section {
//   overflow: auto;
// }
// textarea {
//   resize: vertical;
// }
// .center {
//   text-align: center;
// }
// .center h1 {
//   margin-bottom: 10px;
// }

// universal
body {
  background-color: #d8bdaa;
  font-family: Vollkorn;
	font-size: 1.75rem;
}
#blog-container {
  margin-top: 175px;
}
#header-logo {
  color: white;
  font-size: 4rem;
  border-bottom: 2px solid gray;
}
#article-listing {
  background-color: white;
  margin-left: 20px;
}
.article-title {
	text-align: center;
  background-color: white;
  opacity: 0.9;
  padding-top: 20px;
  padding-bottom: 10px;
}
.article-body {
  background-color: white;
  opacity: 0.9;
  font-size: 2rem;
  padding: 0px 25px 0px 25px;
}
.comment-section {
  background-color: white;
  opacity: 0.9;
  margin-top: 30px;
}
.comment-list {
	background-color: #f0f0f0;
	box-shadow: 3px 3px 3px #8a3109;
}
#comment-body {
	height: 150px;
	width: 500px;
	border: 3px solid #cccccc;
}
.commenter-list {
	color: #8a3109;
}
#commenter-form {
	margin-bottom: 10px;
}
#comment-delete {
  color: red;
}
