// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


// $serif-font-main: 'Vollkorn', serif;
$sans-serif-font-main: 'Nobile', sans-serif;
$serif-font-main: 'Nobile', sans-serif;
// universal
body {
  background-color: #d8bdaa;
  // font-family: $serif-font-main;
	font-size: 1.75rem;
}
#navbar-header {
  margin-bottom: 125px;
}
#header-logo {
  color: white;
  font-size: 4rem;
  border-bottom: 2px solid gray;
}
#article-listing {
  background-color: white;
  margin-left: 20px;
  border: 1px solid black;
  font-size: 1.5rem;
}
#article-listing a {
  text-decoration: none;
}
#article-listing a:hover {
  color: lightgray;
}
.article-title {
  font-family: $sans-serif-font-main;
	text-align: center;
  background-color: white;
  // opacity: 0.9;
  padding-top: 20px;
  padding-bottom: 10px;
}
.article-body {
  background-color: white;
  // opacity: 0.9;
  font-size: 1.75rem;
  padding: 0px 25px 25px 25px;
  overflow: hidden;
  border: 1px solid black;
}
#disqus_thread {
  background-color: white;
  // opacity: 0.9;
  margin-top: 20px;
  padding: 15px 15px 0px 15px;
  border: 1px solid black;
}

// blog styling
.blog-container {
  position: relative;
}
.blog-picture-left {
  margin: 10px 10px 10px 0px;
  border: 3px;
  float: left;
}
.blog-picture-right {
  margin: 10px 0px 10px 10px;
  border: 3px;
  float: right;
}

// sidenav
.sidenav {
    height: 150px;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 120px;
    right: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 35px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 75px;
}
.sidenav h3 {
  color: #f1f1f1;
}
#blog-nav-hamburger {
  font-size: 30px;
  cursor: pointer;
}
