// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: Vollkorn;
  font-size: 1.75 rem;
}
#splash-img {
  height: 100%;
  width: 100%;
}


section {
  overflow: auto;
}
// textarea {
//   resize: vertical;
// }
// .center {
//   text-align: center;
// }
// .center h1 {
//   margin-bottom: 10px;
// }
