// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* universal */
$serif-font-main: 'Vollkorn', serif;
$sans-serif-font-main: 'Lato', sans-serif;

body {
	font-family: $serif-font-main;
	font-size: 1.75rem;
  padding: 0px;
}
#splash-img {
	height: 100%;
	width: 100%;
	position: relative;
}
.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.4);
	width: 300px;
	height: 225px;
	color:#fff !important;
	/*another way to center absolutely positioned element */
		/*left: 50%;
		margin-left: -150px;*/
 	/*yet another way to center absolutely positioned element */
		/*left: 50%;
		transform: translate(-50%);*/
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
blockquote {
	margin-bottom: 0px;
}
.section-title {
	font-family: $sans-serif-font-main;
	font-size: 5rem;
}

/* colors */
$flesh-color: #d8bdaa;
$red-curtain: #8a3109;
$black: #0b0f0e;

/* bio section */
a {
  outline: none !important;
}
#page2 {
	background: url(image-path("bio-bckgrd-img.jpg")) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
	color: black;
}
#bio {
	padding: 30px 60px 40px 60px;
}
.first-character {
	float: left;
	font-size: 4em;
	line-height: 50px;
	padding-top: 4px;
	padding-right: 5px;
	padding-left: 3px;
	font-family: $serif-font-main;
}
#bio-pic {
	float: right;
	margin: 0px 0px 20px 20px;
}
#bio .section-title {
	color: $red-curtain;
	text-align: center;
	padding-bottom: 20px;
}
.bio-text-highlight {
	font-family: $sans-serif-font-main;
	color: $red-curtain;
	font-size: 2rem;
}
.has-pullquote:before {
	content: attr(data-pullquote);
	float: left;
	width: 300px;
	position: relative;
	top: 5px;
	font-size: 4rem;
	line-height: 4.25rem;
	color: $red-curtain;
	// padding-left: 15px;
	padding-right: 20px;
	margin-bottom: 20px;
	margin-right: 15px;
	text-align: right;
	font-family: $sans-serif-font-main;
}
#cotton-field-img {
	float: left;
	margin: 0px 30px 0px 0px;
}
#cotton-field-img .caption {
	padding: 70px 20px 0px 20px;
}
#gl-cond-LPO-Nut {
	float: right;
	margin: 0px 0px 0px 15px;
}
#gl-cond-LPO-Nut #bio-caption {
	padding: 135px 20px 0px 20px;
}
.img {
	position: relative;
	overflow: hidden;
	margin-top: 40px;
}
#bio-caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.4);
	width: 250px;
	height: 313px;
	color:#fff !important;
}

/* piano_parallax */
#recital {
	background: url(image-path("gl_recital_web.jpg")) 50% 0 no-repeat fixed;
	min-height: 600px;
	width: 100%;
}
#recital-text0  {
	color: white;
	padding-top: 100px;
	left: -150px;
	opacity: 0;
	blockquote {
		font-size: 2.25rem
	}
}
#recital-text1 {
	color: white;
	padding-top: 100px;
	right: -150px;
	opacity: 0;
	blockquote {
		font-size: 2.25rem;
	}
}
#recital blockquote footer {
	color: white;
}
/*.hidden-quotes {
	left: -150px;
	opacity : 0;
}
*/

/* media section */
#media-background {
	background: url(image-path("red-bckgrd.jpg")) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#media-header {
	color: white;
	padding: 70px 0px 60px 0px;
}
.video-border {
	-webkit-box-shadow: 0 10px 6px -6px #000;
	   -moz-box-shadow: 0 10px 6px -6px #000;
	        box-shadow: 0 10px 6px -6px #000;
}
#phantom-clip {
	// margin: 35px 0px 60px 0px
	padding: 0px 150px 150px 150px;
}
#stravinsky-clip {
	// margin: 35px 0px 60px 0px
	padding: 0px 150px 150px 150px;
}
#rite-clip {
	padding: 0px 150px 150px 150px;
}
// .video-clips {
// 	box-shadow: 5px 5px 5px gray;
// }
.media-caption {
	color: white;
	background-color: #808080;
	a {
		color: white;
	}
}

/* news section */
#news-container {
	background: url(image-path("news_bckgrd.jpg")) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#news-header {
	color: $red-curtain;
	padding: 70px 0px 40px 0px;
}
#in-the-news {
	// background-color: $flesh-color;
	padding: 40px 0px 120px 0px;
}
.news-img {
	position: relative;
	overflow: hidden;
}
.news-img-border {
	-webkit-box-shadow: 0 10px 6px -6px #000;
	   -moz-box-shadow: 0 10px 6px -6px #000;
	        box-shadow: 0 10px 6px -6px #000;
}
#batt-broadway {
	padding-top: 20px;
}
#news-item-gretna-caption {
	padding: 5px 15px 0px 15px;
}
#news-item-stairs-caption {
	padding-top: 20px;
}

/* chandelier parallax */
#chandelier {
	background: url(image-path("phantom_chandelier_web.jpg")) 50% 0 no-repeat fixed;
	min-height: 600px;
	width: 100%;
}
#chandelier-text0 {
	color: white;
	padding-top: 80px;
	left: -150px;
	opacity: 0;
	blockquote {
		font-size: 2.25rem;
	}
}
#chandelier-text1 {
	color: white;
	padding-top: 70px;
	left: -150px;
	opacity: 0;
	blockquote {
		font-size: 2.25rem;
	}
}
#chandelier blockquote footer {
	color: white;
}

// blog links
.blog-box {
	position: relative;
	width: 250px;
	height: 320px;
	overflow: hidden;
	box-shadow: 10px 10px 10px #000;
	-webkit-box-shadow: 10px 10px 10px #000;
  -moz-box-shadow: 10px 10px 10px #000;
}
.blog-caption {
	position: absolute;
	background: floralwhite;
	opacity: 0.75;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;
	padding: 0%;
	color: black;
}
.blog-caption p:first-of-type {
	text-align: left;
	padding: 0px 20px 0 20px;
	font-size: 0.9em;
}
#blog-links-header {
	background-color: $red-curtain;
	color: #fff;
	padding: 50px 0px 40px 0px;
}
#blog-links {
	background-color: $red-curtain;
	padding-bottom: 130px;
}
.blog-caption h3 {
	padding-bottom: 10%;
}

/* contact */
#contact {
	background-color: $black;
	color: white;
	padding-top: 30px;
}
#press-quotes {
	margin-top: 40px;
	overflow: hidden;
}

/* footer */
#contact {
	padding-left: 40px;
	padding-top: 40px;
}
.contact-form-text-area {
  color: black;
}
#flash-row {
  min-height: 70px;
}
.social-icons a {
	color: #CCC;
	text-decoration: none;
	&:hover {
		color: white;
	}
}
.linked-in-blue {
	color: #03F;
}
.twitter-blue {
	color: #09F;
}
.fb-blue {
	color: #3b5a9b;
}
.email-envolope {
	color: #CCC;
}
#footer {
	background-color: $black;
	color: white;
	padding-top: 50px;
}
