// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* universal */

body {
	font-family: Vollkorn;
	font-size: 1.75rem;
  padding: 0px;
}
#splash-img {
	height: 100%;
	width: 100%;
}
.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.4);
	width: 300px;
	height: 225px;
	color:#fff !important;
	/*another way to center absolutely positioned element */
	/*left: 50%;
	margin-left: -150px;*/
	 /*yet another way to center absolutely positioned element */
	/*left: 50%;
	transform: translate(-50%);*/
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*.hidden-quotes {
	opacity; 0;
}*/

/* bio section */
a {
  outline: none !important;
}
#page2 {
	/*background-color: #705e6c;*/
	// background-color: #bd8169;
	background-color: #d8bdaa;
	// color: white;
	color: black;
}
#bio {
	padding: 30px 60px 40px 60px;
}
#bio-pic {
	float: right;
	margin: 0px 0px 20px 20px;
}
#bio h1 {
	color: #8a3109;
	text-align: center;
	font-size: 4rem;
}
.bio-text-highlight {
	color: #8a3109;
	font-size: 2rem;
}
.has-pullquote:before {
	content: attr(data-pullquote);
	float: left;
	width: 300px;
	position: relative;
	top: 5px;
	font-size: 4rem;
	line-height: 4.25rem;
	color: #8a3109;
	padding-left: 25px;
	margin-bottom: 20px;
	margin-right: 15px;
}
#cotton-field-img {
	float: left;
	margin: 0px 30px 0px 0px;
}
#cotton-field-img .caption {
	padding: 70px 20px 0px 20px;
}
#gl-cond-LPO-Nut {
	float: right;
	margin: 0px 0px 0px 15px;
}
#gl-cond-LPO-Nut #bio-caption {
	padding: 135px 20px 0px 20px;
}
.img {
	position: relative;
	overflow: hidden;
	margin-top: 40px;
}
#bio-caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.4);
	width: 250px;
	height: 313px;
	color:#fff !important;
	/*another way to center absolutely positioned element */
	/*left: 50%;
	margin-left: -150px;*/
	 /*yet another way to center absolutely positioned element */
	/*left: 50%;
	transform: translate(-50%);*/
}


/* piano_parallax */

#recital {
	// background: url("gl_recital_web.jpg") 50% 0 no-repeat fixed;
	background: url(image-path("assets/gl_recital_web.jpg")) 50% 0 no-repeat fixed;
	min-height: 400px;
	width: 100%;
}
#recital-text0 {
	color: white;
	padding-top: 50px;
	font-size: 48px;
	left: -150px;
	opacity: 0;
}
#recital-text1 {
	color: white;
	padding-top: 20px;
	font-size: 48px;
	right: -150px;
	opacity: 0;
}
#recital blockquote footer {
	color: white;
}
/*.hidden-quotes {
	left: -150px;
	opacity : 0;
}
*/

/* media section */

#media-header {
	background-color: #8a3109;
	color: white;
	padding: 25px 0px 20px 0px;
}
#media-clips {
	background-color: #8a3109;
}
#phantom-clip {
	// margin: 35px 0px 60px 0px
	padding: 0px 150px 100px 150px;
}
#stravinsky-clip {
	// margin: 35px 0px 60px 0px
	padding: 0px 150px 100px 150px;
}
// .video-clips {
// 	box-shadow: 5px 5px 5px gray;
// }



/* news section */
#news-header {
	// background-color: #bd8169;
	background-color: #d8bdaa;
	color: black;
	padding-top: 20px;
}
#in-the-news {
	// background-color: #bd8169;
	background-color: #d8bdaa;
	padding: 40px 0px 70px 0px;
}
.news-img {
	position: relative;
	overflow: hidden;
}
#batt-broadway {
	padding-top: 20px;
}
#news-item-gretna-caption {
	padding: 5px 15px 0px 15px;
}
#news-item-stairs-caption {
	padding-top: 20px;
}

/* chandelier parallax */
#chandelier {
	// background: url("phantom_chandelier_web.jpg") 50% 0 no-repeat fixed;
	background: url(image-path("phantom_chandelier_web.jpg")) 50% 0 no-repeat fixed;
	min-height: 400px;
	width: 100%;
}
#chandelier-text0 {
	color: white;
	padding-top: 50px;
	font-size: 48px;
	left: -150px;
	opacity: 0;
}
#chandelier-text1 {
	color: white;
	padding-top: 40px;
	font-size: 48px;
	left: -150px;
	opacity: 0;
}
#chandelier blockquote footer {
	color: white;
}

/* contact */

#contact {
	background-color: #0b0f0e;
	color: white;
	padding-top: 30px;
}
#press-quotes {
	margin-top: 40px;
	overflow: hidden;
}

/* footer */

#contact {
	padding-left: 40px;
}
.social-icons a {
	color: #CCC;
	text-decoration: none;
}
.social-icons a:hover {
	color: white;
}
.linked-in-blue {
	color: #03F;
}
.twitter-blue {
	color: #09F;
}
.fb-blue {
	color: #3b5a9b;
}
.email-envolope {
	color: #CCC;
}
#footer {
	background-color: #0b0f0e;
	color: white;
	padding-top: 50px;
}




// textarea {
//   resize: vertical;
// }
// .center {
//   text-align: center;
// }
// .center h1 {
//   margin-bottom: 10px;
// }
